script(type='text/javascript', src='/lib/jquery/jquery.js')

//Bootstrap
script(type='text/javascript', src='/lib/bootstrap/bootstrap.js')

//Underscore
script(type='text/javascript', src='/lib/underscore/underscore.js')

//AngularJS
script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')
script(type='text/javascript', src='/lib/angular-route/angular-route.js')

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-ui-utils/utils.js')

//Application Init
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/config.js')
script(type='text/javascript', src='/js/directives.js')

//Application Filters
script(type='text/javascript', src='/js/filters.js')
script(type='text/javascript', src='js/filters/last.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/articles.js')
script(type='text/javascript', src='/js/services/users.js')
script(type='text/javascript', src='/js/services/leagues.js')
script(type='text/javascript', src='/js/services/agents.js')

script(type='text/javascript', src='/js/services/underscore.js')
script(type='text/javascript', src='/js/services/utilities.js')
script(type='text/javascript', src='/js/services/metrics.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/testmetrics.js')

script(type='text/javascript', src='/js/controllers/agents.js')
script(type='text/javascript', src='/js/controllers/leagues.js')
script(type='text/javascript', src='/js/controllers/users.js')
script(type='text/javascript', src='/js/controllers/articles.js')
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/init.js')

//Livereload script rendered
script(type='text/javascript', src='http://localhost:35729/livereload.js')
