<div ng-show='status.cash'>
    <div class='row'>
        <div class='col-lg-2'><b>Current Cash</b></div>
        <div class='col-lg-6'>{{status.cash | currency}}</div>
    </div>
    <div class='row'>
        <div class='col-lg-2'><b>Value of Securities</b></div>
        <div class='col-lg-6'>{{status.securities_value | currency}}</div>
    </div>
    <hr />
</div>
<div class='row'>
    <div class='col-lg-2'><b>Total Value</b></div>
    <div class='col-lg-6'>{{status.total_value | currency}}</div>
</div>
