<div ng-if='agent.description.length'>
    <div class='row'>
        <div class='col-lg-2'><b>Agent Description</b></div>
        <div class='col-lg-9 agent-description-box'>
            {{agent.description}}
        </div>
    </div>

    <br />
</div>

<div class='row'>
    <div class='col-lg-4'>
        <div class='row'></div>
        <div ng-show='agent.status.cash'>
            <div class='row'>
                <div class='col-lg-6'><b>Current Cash</b></div>
                <div class='col-lg-4'>{{agent.status.cash | currency}}</div>
            </div>
            <div class='row'>
                <div class='col-lg-6'><b>Value of Securities</b></div>
                <div class='col-lg-4'>
                    {{agent.status.securities_value | currency}}
                </div>
            </div>
            <hr />
        </div>
        <div class='row'>
            <div class='col-lg-6'><b>Total Value</b></div>
            <div class='col-lg-4'>{{agent.status.total_value | currency}}</div>
        </div>
    </div>
    <div class='col-lg-8'>
        <div chart data='chartData' options='chartOptions'
            style='width: 100%; height: 100px'></div>
    </div>
</div>
