<div class='container' ng-controller='HeaderController' ng-init='setMenu()'>
    <div class='navbar-header'>
        <button class="navbar-toggle" type="button" data-toggle="collapse"
            data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class='navbar-brand' href='/'>Tour de Finance</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation" id="navbar" >
        <ul class='nav navbar-nav'>
            <li data-ng-repeat='item in menu' data-ng-show='true'
                    ui-route='/{{item.link}}' ng-class='{active: $uiRoute}'>
                <a href='#!/{{item.link}}'>{{item.title}}</a>
            </li>
        </ul>
        <ul class='nav navbar-nav navbar-right'
            data-ng-show='global.authenticated'>
            <li class='dropdown'>
                <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
                    {{global.user.name}} ({{global.user.username}})
                    <b class='caret'></b>
                </a>
                <ul class='dropdown-menu'>
                    <li><a href='/signout'>Signout</a></li>
                    <li><a href='/#!/users/profile'>Edit Profile</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
