 <section ng-controller='testLinesController'>
    <h1>Testing Line Graph</h1>
    <line-graph data='d3data'></line-graph>

    <div class='panel panel-info'>
        <div class='panel-heading'>
            Change the values to see the chart change
        </div>
        <div class='panel-body'>
            <form class='form-horizontal'>
                <div class='form-group' ng-repeat='data in d3data'>
                    <label class='control-label col-lg-1' for='name{{$index}}'>
                        Name
                    </label>
                    <div class='col-lg-2'>
                        <input type='text' class='form-control'
                            id='name{{$index}}' ng-model='data.name' />
                    </div>
                    <label class='control-label col-lg-1'
                        for='score{{$index}}'>
                        Score
                    </label>
                    <div class='col-lg-2'>
                        <input type='text' class='form-control'
                            id='score{{$index}}' ng-model='data.score' />
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
