<section ng-controller="UsersController" ng-init="find()">

    <h1>Registered Users</h1>

    <div class='panel panel-default' ng-repeat='user in users'>
        <div class='panel-body'>
            <h3 class='pull-left user-list-name'>{{user.username}}</h3>

            <div ng-class="{'pull-right': true,
                'user-list-btns': true,
                'btn-group': (user.id == global.user._id)}">
                <a class='btn btn-primary'
                    href='/#!/users/{{user._id}}'>
                    View Profile
                </a>
                <a class='btn btn-default'
                    ng-show='user.id == global.user._id'
                    href='/#!/users/profile'>
                    Edit
                </a>
            </div>


        </div>
    </div>

</section>
