<section data-ng-controller='UsersController' data-ng-init='getProfile()'>
    <h1>Edit Profile</h1>

    <form class='form-horizontal' data-ng-submit='updateProfile()'>

        <div class='alert alert-danger' ng-if='saveerror.length'>
            {{saveerror}}
        </div>
        <div class='alert alert-success' ng-if='savesuccess.length'>
            {{savesuccess}}
        </div>

        <div class='form-group'>
            <label class='control-label col-lg-2' for 'name'>
                Full Name
            </label>
            <div class='col-lg-3'>
                <input type='text' class='form-control'
                    data-ng-model='user.name' id='name'
                    placeholder='Full Name' required>
            </div>
        </div>
        <div class='form-group'>
            <label class='control-label col-lg-2' for 'username'>
                User Name
            </label>
            <div class='col-lg-3'>
                <input type='text' class='form-control'
                    data-ng-model='user.username' id='username'
                    placeholder='User Name' required>
            </div>
        </div>
        <div class='form-group'>
            <label class='control-label col-lg-2' for 'email'>
                Email
            </label>
            <div class='col-lg-3'>
                <input type='text' class='form-control'
                    data-ng-model='user.email' id='email'
                    placeholder='email' required>
            </div>
        </div>
        <div class='form-group'>
            <div class='col-lg-offset-2 col-lg-3'>
                <input type='submit' class='btn btn-primary'>
            </div>
        </div>
    </form>
</section>
