<section ng-controller="LeaguesController" ng-init="find()">

    <h1>Existing Leagues</h1>

    <div class='panel panel-default' ng-repeat='league in leagues'>
        <div class='panel-body'>
            <h3 class='pull-left league-list-name'>{{league.name}}</h3>

            <div ng-class='{"pull-right": true,
                "league-list-btns": true,
                "btn-group": global.user.isAdmin}'>
                <a class='btn btn-primary'
                    href='/#!/leagues/{{league._id}}'>
                    View League
                </a>
                <a class='btn btn-default'
                    ng-show='global.user.isAdmin'
                    href='/#!/leagues/{{league._id}}/edit'>
                    Edit
                </a>
            </div>
        </div> 
    </div>


    <a class='btn btn-primary' href='/#!/leagues/create'
        data-ng-show='global.user.isAdmin'>
        Add a New League
    </a>
</section>
