extends auth

block auth
  h2 Sign Up
  form.signup.form-horizontal(action="/users", method="post")
    .form-group
      label.control-label.col-lg-2(for='name') Full name
      .col-lg-3
        input.form-control#name(type='text', name="name", placeholder='Full name', value=user.name)

    .form-group
      label.control-label.col-lg-2(for='email') Email
      .col-lg-3
        input.form-control#email(type='text', name="email", placeholder='Email', value=user.email)

    .form-group
      label.control-label.col-lg-2(for='username') Username
      .col-lg-3
        input.form-control#username(type='text', name="username", placeholder='Username', value=user.username)

    .form-group
      label.control-label.col-lg-2(for='password') Password
      .col-lg-3
        input.form-control#password(type='password', name="password", placeholder='Password')

    .form-group
      .col-lg-offset-2.col-lg-3
        button.btn.btn-primary(type='submit') Sign up
        &nbsp;
        | or&nbsp;
        a.show-login(href="/signin") login
