<section ng-controller='AgentsController' ng-init='findOne()'>
    <h1>{{agent.name}}</h1>

    <p>Status: {{agent.status}}</p>
    <p>History: {{agent.history}}</p>

    <div class='panel panel-info'>
        <div class='panel-heading'>Details</div>
        <div class='panel-body'>
            <form class='form-horizontal'>
                <div class='form-group'>
                    <label class='control-label col-lg-1' for='owner'>
                        Owner
                    </label>
                    <div class='col-lg-4'>
                        <input type='text' class='form-control' id='owner'
                            ng-model='agent.user.username' disabled>
                    </div>
                </div>

                <div class='form-group'>
                    <label class='control-label col-lg-1' for='league'>
                        League
                    </label>
                    <div class='col-lg-4'>
                        <input type='text' class='form-control' id='league'
                            ng-model='agent.league.name' disabled>
                    </div>
                </div>

                <div class='form-group'
                    ng-show='agent.user._id == global.user._id'>
                    <label class='control-label col-lg-1' for='agentid'>
                        Public ID
                    </label>
                    <div class='col-lg-4'>
                        <input type='text' class='form-control' id='agentid'
                            ng-model='agent._id' disabled>
                    </div>
                </div>

                <div class='form-group'
                    ng-show='agent.user._id == global.user._id'>
                    <label class='control-label col-lg-1' for='apikey'>
                        API Key
                    </label>
                    <div class='input-group col-lg-4'>
                        <input type='{{apikeytype}}' class='form-control'
                            ng-model='agent.apikey' disabled>
                        <div class='input-group-btn'>
                            <button type='button' class='btn btn-default'
                                ng-click='toggleapikey()'>
                                {{apikeybtn}}
                            </button>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>

    <div class='panel panel-info'>
        <div class='panel-heading'>
            Status
            <a class='btn btn-success pull-right' ng-click='findOne()'>
                Refresh
                (<timer countdown='59' interval='1000'>{{seconds}}</timer>)
            </a>
            <div class='clearfix'></div>
        </div>
        <div class='panel-body'>
            <agent-status status='agent.status'></agent-status>
        </div>
    </div>

    <div class='panel panel-info'
        ng-show='agent.user._id == global.user._id'>
        <div class='panel-heading'>
            Historical Composition
            <a class='btn btn-success pull-right' ng-click='findOne()'>
                Refresh
                (<timer countdown='59' interval='1000'>{{seconds}}</timer>)
            </a>
            <div class='clearfix'></div>
        </div>
        <div class='panel-body'>
            <div class='panel panel-success'
                ng-repeat='trade in agent.portfolio | orderBy:"-timestamp"'>
                <div class='panel-heading'>
                    {{trade.timestamp | date:'medium'}}
                </div>
                <div class='panel-body'>
                    <ul>
                        <li ng-repeat='(symbol, quantity) in trade.composition'>
                            <div ng-hide='symbol === "cash00"'>
                                <b>{{symbol}}:</b> {{quantity}} shares
                            </div>
                            <div ng-show='symbol === "cash00"'>
                                <b>Uninvested Cash:</b>
                                {{quantity | currency}}
                            </div>
                        </li>
                    </ul>
                    <div ng-show='!trade.composition ||
                                  trade.composition.length === 0'>
                        Portfolio is empty.
                    </div>
                </div>
            </div>
            <div ng-show='agent.portfolio.length == 0'>
                No trades yet.
            </div>
        </div>
    </div>

    <div ng-class='{"btn-group": (global.user._id == agent.user._id)}'>
        <a class='btn btn-primary' href='/#!/users/profile/'
            ng-show='global.user._id == agent.user._id'>
            Profile
        </a>
        <a class='btn btn-primary' href='/#!/agents/'>
            Agent List
        </a>
    </div>
    <div class='btn-group' ng-show='global.user._id == agent.user._id'>
        <a class='btn btn-warning' href='/#!/agents/{{agent._id}}/trade'>
            Trade
        </a>
        <a class='btn btn-default' href='/#!/agents/{{agent._id}}/edit'>
            Edit Agent
        </a>
        <a class='btn btn-danger' ng-click='resetTrades()'>
            Reset Trades
        </a>
        <a class='btn btn-danger' ng-click='remove(agent)'>
            Delete Agent
        </a>
    </div>
</section>
